/* You can add global styles to this file, and also import other style files */

.mapbox-container{
    width: 100%;
    height: 1000px;
}

.top-bar {
    background-color: #10161d;
    color: #f44336;
}

/* .icon-style {
 
} */

.logo {
    font-size: 30px;
}

.clickable {
    cursor: pointer;
}

.about {
    margin:10px;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
