<div>
  Hello world
  {{appTime}}
</div>

<div (click)="pauseClick()">
  Pause
</div>
<mgl-map (load)="saveMap($event)" class="mapbox-container" [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[2]"
  [center]=defaultCenter>

  <ng-container *ngFor="let obj of shipArr; index as i;">

    <ng-container *ngIf="showGraphics(obj.endDate)">

      <mgl-geojson-source [id]="obj.srcId" [data]="obj.sourceData"> </mgl-geojson-source>
      <mgl-layer (mouseEnter)="circleEnter(i)" (mouseLeave)="circleExit(i)" [id]="obj.ptId" type="circle"
        [source]="obj.srcId" [paint]="{
        'circle-radius': 3,
        'circle-color': 'red'
      }"> </mgl-layer>
      <mgl-popup [lngLat]="obj.sourceData.coordinates" [closeOnClick]="true" *ngIf="obj.showPopup">
        <div>
          Vessel:
          {{obj.vesselName}}
        </div>
        <div>
          IMO ID:
          {{obj.imoNumber}}
        </div>
        <div>
          Weight:
          {{ obj.weight  }} kg
        </div>
        <div>
          Origin:
          {{ obj.startLoc  }} 
        </div>

        <div>
          Destination:
          {{ obj.endLoc  }} 
        </div>



      </mgl-popup>

      <!-- <mgl-layer id="obj.lineId" type="line" [source]="lineSource(obj.startCoord, obj.endCoord)" [layout]="{
        'line-join': 'round',
        'line-cap': 'round'
      }" [paint]="{
        'line-color': '#888',
        'line-width': 8
      }">
    </mgl-layer> -->

    </ng-container>


  </ng-container>









</mgl-map>